@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box; }

img {
  width: 100%; }

html {
  font-size: 62.5%; }
  @media (max-width: 600px) {
    html {
      font-size: 50%; } }
  @media (max-width: 1200px) {
    html {
      font-size: 50%; } }
  @media (max-width: 900px) {
    html {
      font-size: 56.25%; } }
  @media (min-width: 1800px) {
    html {
      font-size: 75%; } }

body {
  font-family: 'Josefin Sans', sans-serif;
  height: 100vh; }

.container {
  display: flex;
  height: 100%; }

.content {
  background: url(/images/bg-pattern-desktop.svg) no-repeat center center;
  background-size: cover;
  flex: 65%; }

.logo-container {
  width: 60%;
  margin: auto;
  margin-top: 6rem;
  margin-bottom: 14rem; }
  @media (max-width: 600px) {
    .logo-container {
      width: 80%;
      margin-top: 3rem;
      margin-bottom: 1rem; } }
  .logo-container__logo {
    width: 16rem; }
    @media (max-width: 600px) {
      .logo-container__logo {
        width: 11rem;
        margin-bottom: 3rem; } }

.mobile-image {
  display: none; }
  @media (max-width: 600px) {
    .mobile-image {
      background: url(/images/hero-mobile.jpg) no-repeat center top;
      background-size: cover;
      display: inline-block;
      min-height: 250px;
      width: 100%;
      margin-bottom: 7rem; } }

.content-container {
  width: 60%;
  margin: auto; }
  @media (max-width: 600px) {
    .content-container {
      width: 80%; } }

.text-container__upper-heading {
  font-size: 6rem;
  font-weight: 300;
  color: #ce9797;
  text-transform: uppercase;
  letter-spacing: 1.4rem; }
  @media (max-width: 600px) {
    .text-container__upper-heading {
      text-align: center;
      font-size: 5rem;
      letter-spacing: 1rem; } }

.text-container__lower-heading {
  font-size: 6rem;
  font-weight: 600;
  color: #413a3a;
  text-transform: uppercase;
  letter-spacing: 1.4rem; }
  .text-container__lower-heading:nth-child(3) {
    margin-bottom: 3rem; }
  @media (max-width: 600px) {
    .text-container__lower-heading {
      text-align: center;
      font-size: 5rem;
      letter-spacing: 1rem; }
      .text-container__lower-heading:nth-child(3) {
        margin-bottom: 3rem; } }

.text-container__main-text {
  font-size: 1.9rem;
  line-height: 1.4;
  color: #ce9797;
  margin-bottom: 3.5rem; }
  @media (max-width: 600px) {
    .text-container__main-text {
      text-align: center;
      font-size: 1.6rem; } }

#form {
  width: 100%;
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(206, 151, 151, 0.3);
  height: 6rem;
  padding-left: 20px;
  position: relative;
  border-radius: 50px; }
  @media (max-width: 600px) {
    #form {
      width: 100%;
      height: 5rem;
      margin-bottom: 4rem; } }

input {
  flex-grow: 3;
  border: none;
  border-radius: 50px;
  background-color: transparent;
  margin-left: 2rem; }

.error-circle {
  position: absolute;
  width: 3rem;
  top: 50%;
  transform: translateY(-50%);
  right: 11rem;
  display: none; }
  @media (max-width: 600px) {
    .error-circle {
      right: 7rem; } }

button {
  width: 11rem;
  border-radius: 50px;
  border: none;
  background-image: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  box-shadow: 0px 3px 5px #f8bfbf;
  margin: -3px; }
  @media (max-width: 600px) {
    button {
      width: 7rem; } }

.arrow {
  width: 1.2rem; }

.error-message {
  color: red;
  font-weight: 400;
  margin-left: 3rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  display: none; }
  @media (max-width: 600px) {
    .error-message {
      margin-top: -2rem; } }

.form-error {
  border: 2px solid red !important; }

.image {
  background: url(/images/hero-desktop.jpg) no-repeat center center;
  background-size: cover;
  flex: 50%; }
  @media (max-width: 600px) {
    .image {
      display: none; } }

::placeholder {
  color: rgba(206, 151, 151, 0.3);
  font-size: 1.6rem;
  opacity: 1;
  font-weight: 400; }

.attribution {
  font-size: 11px;
  text-align: center; }
  @media (max-width: 600px) {
    .attribution {
      display: none; } }

.attribution a {
  color: #3e52a3; }
