@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

//reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

//variables
$desaturatedRed: hsl(0, 36%, 70%);
$desaturatedRedSoft: hsla(0, 36%, 70%, 0.3);
$softRed: hsl(0, 93%, 68%);
$darkGrayishRed: hsl(0, 6%, 24%);

//mixins
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 600px) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 900px) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 1800px) {
      @content;
    }
  }
}

html {
  font-size: 62.5%; //1rem = 10px
  @include respond(phone) {
    font-size: 50%; //1rem = 8px
  }
  @include respond(tab-land) {
    font-size: 50%; //1rem = 8px
  }
  @include respond(tab-port) {
    font-size: 56.25%; //1rem = 9px
  }
  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px
  }
}

body {
  font-family: 'Josefin Sans', sans-serif;
  height: 100vh;
}

.container {
  display: flex;
  height: 100%;
}

.content {
  background: url(/images/bg-pattern-desktop.svg) no-repeat center center;
  background-size: cover;
  flex: 65%;
}

.logo-container {
  width: 60%;
  margin: auto;
  margin-top: 6rem;
  margin-bottom: 14rem;

  @include respond(phone) {
    width: 80%;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  &__logo {
    width: 16rem;

    @include respond(phone) {
      width: 11rem;
      margin-bottom: 3rem;
    }
  }
}

.mobile-image {
  display: none;

  @include respond(phone) {
    background: url(/images/hero-mobile.jpg) no-repeat center top;
    background-size: cover;
    display: inline-block;
    min-height: 250px;
    width: 100%;
    margin-bottom: 7rem;
  }
}

.content-container {
  width: 60%;
  // height: 100%;
  margin: auto;
  // position: relative;
  @include respond(phone) {
    width: 80%;
  }
}

.text-container {
  &__upper-heading {
    font-size: 6rem;
    font-weight: 300;
    color: $desaturatedRed;
    text-transform: uppercase;
    letter-spacing: 1.4rem;

    @include respond(phone) {
      text-align: center;
      font-size: 5rem;
      letter-spacing: 1rem;
    }
  }

  &__lower-heading {
    font-size: 6rem;
    font-weight: 600;
    color: $darkGrayishRed;
    text-transform: uppercase;
    letter-spacing: 1.4rem;

    &:nth-child(3) {
      margin-bottom: 3rem;
    }

    @include respond(phone) {
      text-align: center;
      font-size: 5rem;
      letter-spacing: 1rem;

      &:nth-child(3) {
        margin-bottom: 3rem;
      }
    }
  }

  &__main-text {
    font-size: 1.9rem;
    line-height: 1.4;
    color: $desaturatedRed;
    margin-bottom: 3.5rem;

    @include respond(phone) {
      text-align: center;
      font-size: 1.6rem;
    }
  }
}

#form {
  width: 100%;
  display: flex;
  flex-direction: row;
  border: 1px solid $desaturatedRedSoft;
  // padding: 10px;
  height: 6rem;
  padding-left: 20px;
  position: relative;
  border-radius: 50px; /*you can remove this to avoid rounded corners on the form*/

  @include respond(phone) {
    width: 100%;
    height: 5rem;
    margin-bottom: 4rem;
  }
}

input {
  flex-grow: 3;
  border: none;
  border-radius: 50px;
  background-color: transparent;
  margin-left: 2rem;
}

.error-circle {
  position: absolute;
  width: 3rem;
  top: 50%;
  transform: translateY(-50%);
  right: 11rem;
  display: none;

  @include respond(phone) {
    right: 7rem;
  }
}

button {
  width: 11rem;
  border-radius: 50px;
  border: none;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  box-shadow: 0px 3px 5px hsl(0, 80%, 86%);
  margin: -3px;

  @include respond(phone) {
    width: 7rem;
  }
}

.arrow {
  width: 1.2rem;
}

.error-message {
  color: red;
  font-weight: 400;
  margin-left: 3rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  display: none;

  @include respond(phone) {
    margin-top: -2rem;
  }
}

.form-error {
  border: 2px solid red !important;
}

.image {
  background: url(/images/hero-desktop.jpg) no-repeat center center;
  background-size: cover;
  flex: 50%;

  @include respond(phone) {
    display: none;
  }
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $desaturatedRedSoft;
  font-size: 1.6rem;
  opacity: 1; /* Firefox */
  font-weight: 400;
}

.attribution {
  font-size: 11px;
  text-align: center;

  @include respond(phone) {
    display: none;
  }
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
