@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

//reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

//variables
$desaturatedRed: hsl(0, 36%, 70%);
$softRed: hsl(0, 93%, 68%);
$darkGrayishRed: hsl(0, 6%, 24%);

//mixins
//mixins
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 600px) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 900px) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 1800px) {
      @content;
    }
  }
}

body {
  font-family: 'Josefin Sans', sans-serif;
  height: 100vh;

  // background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

.container {
  display: flex;
  height: 100%;
}

.content {
  background: url(/images/bg-pattern-desktop.svg) no-repeat center center;
  background-size: cover;
  flex: 50%;
}

.image {
  background: url(/images/hero-desktop.jpg) no-repeat center center;
  background-size: cover;
  flex: 50%;
}

.logo {
  width: 200px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
